---
---
<div class="py-8 max-w-screen-xl mx-auto text-stone-100 bg-orange-950">
    <div class="grid grid-cols-3 justify-items-center pb-8 my-4">
        <section><a href="/src/layouts/MainLayout.astro">Københavnerbilleder</a></section>
        <section>Forfatteren</section>
        <section>Køb nu!</section>
    </div>
    <div class="flex justify-center">
        <p>Copyright © 2024 </p>
    </div>
</div>
  